@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  :root {
    --scrollbar-color: rgba(0, 0, 0, 0.3);
  }

  :root.dark {
    --scrollbar-color: rgba(255, 255, 255, 0.3);
  }

  html {
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
  }

  /* fix radix dropdown-menu layout shift */
  html body[data-scroll-locked] {
    margin-right: 0 !important;
  }
}

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9851 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9310 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5452 0 0);
  --accent: oklch(0.8853 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.4809 0.1493 20.5164);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8853 0 0);
  --input: oklch(0.9310 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.4941 0.2158 306.1491);
  --chart-2: oklch(0.4392 0.1676 289.8355);
  --chart-3: oklch(0.6231 0.0917 19.9938);
  --chart-4: oklch(0.9249 0 0);
  --chart-5: oklch(0.8457 0.0612 18.4365);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9310 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9310 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1913 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2350 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2768 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(1.0000 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.4091 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.7826 0 0);
  --accent: oklch(0.3485 0 0);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5156 0.1628 20.7852);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3012 0 0);
  --input: oklch(0.3485 0 0);
  --ring: oklch(0.7826 0 0);
  --chart-1: oklch(0.4941 0.2158 306.1491);
  --chart-2: oklch(0.4265 0.1462 295.9441);
  --chart-3: oklch(0.5262 0.0702 19.6880);
  --chart-4: oklch(0.5452 0 0);
  --chart-5: oklch(0.7457 0.1121 20.0653);
  --sidebar: oklch(0.2768 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3485 0 0);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3485 0 0);
  --sidebar-ring: oklch(0.7826 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Custom prose styles for markdown */
  .prose {
    color: hsl(var(--foreground));
    max-width: 65ch;
    line-height: 1.75;
  }

  .prose > :first-child {
    margin-top: 0;
  }

  .prose > :last-child {
    margin-bottom: 0;
  }

  .prose h1, .prose h2, .prose h3, .prose h4 {
    color: hsl(var(--foreground));
    font-weight: 600;
    line-height: 1.25;
  }

  .prose h1 {
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
  }

  .prose h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
  }

  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .prose a {
    color: hsl(var(--primary));
    text-decoration: underline;
    font-weight: 500;
  }

  .prose strong {
    color: hsl(var(--foreground));
    font-weight: 600;
  }

  .prose ul, .prose ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }

  .prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .prose blockquote {
    font-weight: 500;
    font-style: italic;
    color: hsl(var(--foreground));
    border-left-width: 0.25rem;
    border-left-color: hsl(var(--border));
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  .prose code {
    color: hsl(var(--foreground));
    font-weight: 600;
    font-size: 0.875em;
    background-color: hsl(var(--muted));
    padding: 0.125rem 0.375rem;
    border-radius: 0.25rem;
  }

  .prose pre {
    color: hsl(var(--foreground));
    background-color: hsl(var(--muted));
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
  }

  .prose pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .prose img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .prose hr {
    border-color: hsl(var(--border));
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}